body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B9E9CC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-image {
  width: 100%;
  height: 500px;
}



/* Main body -- Data fetched */
h1 {
  font-size: 50px;
  color: #333;
  text-align: center;
  margin-top: 30px;
  text-decoration: underline;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.card p {
  font-size: 16px;
  color: #555;
}


/* Character-Form */

.character-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
}

.character-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.character-form form {
  display: flex;
  flex-direction: column;
}

.character-form .form-group {
  margin-bottom: 15px;
}

.character-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.character-form input {
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.character-form button {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.character-form button:hover {
  background-color: #555;
}

/* House-form */
.house-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
}

.house-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.house-form form {
  display: flex;
  flex-direction: column;
}

.house-form .form-group {
  margin-bottom: 15px;
}

.house-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.house-form input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.house-form button {
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.house-form button:hover {
  background-color: #555;
}

section {
  display: flex;
  margin-top: 50px;
  padding-top: 40px;
  border-top: 5px solid rgb(233, 225, 225);
}

/* Buttons */
.button-card{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.my-buttons {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.my-buttons:hover {
  background-color: #0056b3;
}

/* Footer */

.footer {
  background-color: #0a0808;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icon {
  text-decoration: none;
  margin-right: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

.footer-text {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

.footer-text-small {
  font-size: 14px;
  color: #666;
}

/*  */
.custom-select {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}